/* 重写下拉框样式 */
/deep/ .ant-dropdown{
	min-width: 100px !important;
	width: 100px !important;
}
.ant-dropdown-menu-item{
	.logout{
		color: red;
	}

	.icon-tuichu{
		display: inline-block;
		margin-left: 15px;
	}
}
// 下拉列表选中值
.activeSelect{
	background-color: #E6F7FF;
}